<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="description" content="Your description goes here">
	<meta name="keywords" content="one, two, three">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Blank Template</title>

	<!-- external CSS link -->
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<section class="Main-container">
		<section class="welcome">
				<nav >
				<ul class=" menu-list">
					<li>Home</li>
					<li>About Us</li>
					<li>Menu</li>
					<li>Order Now</li>
					<li>Blog</li>
					<li>Location</li>
				</ul>
			</nav>
			<h1>Welcome To Our Cuisine  Resturant</h1>
		</section>
		<section class="about"></section>
		<section class="order"></section>
		<section class="booking"></section>
		<section class="testimonials"></section>
		<footer></footer>
	</section>
</body>
<script type="text/javascript" src="js/main.js"></script>

</html>